
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 500px;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #E10715;
  padding: 1%;
}

.carte {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: grey;
}

.placeholder{
  width: 70%;
}

.titretexte {
  padding: 20px;
}

.proches{
  color:grey;
  padding-top: 5px;
}

.cartes-stations{
  display: flex;
  padding-top: 20px;
  padding-bottom:30px;
}

.station1{
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid lightgray;
  border-radius: 7px;
}

.station{
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.restants,.distance{
  padding-left: 20px;
}

.station,.distance,.restants{
  margin-left: 10px;
  margin-right: 10px
}

.distance{
  margin-bottom: 10px;
}

.logos{
  width: 50px;
}


.logomel {
  width: 15%;
}

footer {
  display: flex;
  align-items: center;
  border-top: 2px solid lightgray;
}

.lmp {
  padding-top: 20px;
  padding-left: 20px;
  width: 5%;
}

.réseaux {
  margin: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
}

.search-bar input[type="text"]:focus {
  border-color: #007aff;
  box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
}

.search-bar button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007aff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #005bb5;
}

.citybutton {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
}

.citybutton:focus {
  border-color: #007aff;
  box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
}

@media (max-width: 600px) {
  .cartes-stations {
    flex-direction: column;
    align-items: center;
  }

  .station1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 90%;
  }

  .station {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .restants, .distance {
    padding-left: 10px;
  }

  .station, .distance, .restants {
    margin-left: 0;
    margin-right: 0;
  }

  .logos {
    width: 40px;
  }
  .search-bar {
    flex-direction: column;
    margin: 10px 0;
  }

  .search-bar input[type="text"] {
    width: 80%;
    margin-bottom: 10px;
  }

  .search-bar button {
    width: 80%;
  }

  .citybutton {
    width: 80%;
    margin-bottom: 10px;
  }
}